.blog-item {
    width: 95%;
    height: 20em;
    border-radius: 2rem;
    background-color: white;
    color: black;
    margin-top: 2rem;

    display: flex;
    overflow: hidden;
}

.blog-item-image {
    width: 50%;

    object-fit: cover;
}

.blog-info {
    width: 100%;
    margin: 1rem 2rem;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.blog-info-text{
    width: 100%;
}

.blog-info-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.blog-info-details h4 {
    font-weight: 400;
    font-size: 1.2rem;
}
.blog-edit {
    display: grid;
    align-items: center;
}
.blog-edit img {
    width: 1.2rem;
}
.blog-info-description {
    margin-top: 1rem;
}
.blog-date {
    align-self: flex-end;
}